<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransferGuardEndpoint" maxReceivedMessageSize="2147483647">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
                </binding>
                <binding name="TransferGuardEndpoint1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://transferguard-cert.paml.com/v1/TransferService.svc"
                binding="basicHttpBinding" bindingConfiguration="TransferGuardEndpoint"
                contract="TransferGuardServiceReference.ITransferService"
                name="TransferGuardEndpoint" />
        </client>
    </system.serviceModel>
</configuration>